/* Header styles */
header {
    position: relative;
    background-color: white;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/AirBnB_logo.png");
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 20px;
}
#api_status {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #CCCCCC;
    float: right;
    margin-right: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#api_status.available {
    background-color: #ff545f;
}